# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo

# Turbo cache
/.turbo
.turbo

# Output
dist
.next
out
expo
.expo
.expo-shared

# Env
.env
.env.*
!.env.example

# Logs
logs
*.log
*.log.*
*.out
*.out.*
*.err
*.err.*

# IDE
.vscode
.idea
.DS_Store
*.swp
*.swo

# Coverage / Tests
coverage
*.lcov
.jest

# OS
Thumbs.db
packages/redis/data
package-lock.json
yarn.lock
apps/mobile/build
apps/mobile/builds
apps/mobile/GoogleService-Info.plist
packages/db/drizzle
